<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gcsp.IDAO.IUserDao">
    <resultMap id="userMap" type="cn.gcsp.entity.User">
        <id property="id" column="id" />
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="credential" column="credential" jdbcType="VARCHAR"/>
        <result property="group" column="group" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getUserByNameAndPassword" parameterType="cn.gcsp.entity.User" resultMap="userMap">
SELECT
user.name
FROM
`user`
WHERE
`user`.name = #{name}
AND
`user`.`password` = #{password}
  </select>
</mapper>